<ng-template #MenuOfDayTemplate>
    <div class="row">
        <div style="text-align: center;">
            <mat-spinner *ngIf="!(item$ | async) as items" style="margin:0 auto;" [color]="'accent'"></mat-spinner>
        </div>
        <div *ngIf="item$ | async as items">
            <div *ngFor="let item of items?.meals">

                <div class="row">
                    <h2 *ngIf="tipo == 1">El platillo del día es:</h2>
                    <hr *ngIf="tipo == 1">    

                    <div class="row p-4">
                        <div style="text-align: center;">
                            <youtube-player 
                                videoId="{{getUUIDYoutube(item?.strYoutube)}}" 
                                suggestedQuality="highres"
                                [height]="450" 
                                [width]="800" 
                                [startSeconds]="4"
                                [endSeconds]="8">
                            </youtube-player>
                        </div>
                    </div>
    
                    <div class="row p-4" style="background-color: rgb(246, 246, 246);">
                        <div class="row">
                            <h3 style="font-weight: bold;"> {{ item?.strCategory }} > {{ item?.strMeal }} </h3>
                        </div>
                        <div class="row">
                            <div class="col-9" style="text-align: justify;">
                                <p>{{ item?.strInstructions }}</p>
                            </div>
                            <div class="col-3">
                                <img src="{{ item?.strMealThumb }}" alt="viewSelection" draggable="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center nav-tabs-custom">
    <li [ngbNavItem]="1" class="me-auto">
        <a ngbNavLink>
            <i class="material-icons">restaurant</i> &nbsp;
            Detalle del menú
        </a>
        <ng-template ngbNavContent>
          <ng-container [ngTemplateOutlet]="MenuOfDayTemplate"></ng-container>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink [routerLink]="['/home']" href="javascript: void(0);">Volver al inicio</a>
    </li>
</ul>
  
<div [ngbNavOutlet]="nav" class="mt-2"></div>
